body {
	#background-color:#000E52; 
	background-color:#FFFFFF; 
	font-family: Verdana,Geneva,sans-serif; 
	#color:#FFFFFF;
	color:#000E52;
}

.navbar-custom {
    background-color: #000E52;
	color:#FFFFFF;
}

h1,h2,h3,h5 {
	color: #010E52;
}

.bottom_text {
	margin-top: 0!important;
	margin-bottom: 0!important;
}

.card-body {
	padding-bottom: 0px; /* Verringere den oberen Abstand */
}

	